<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="dao.IReviewDao">
 	<resultMap type="map" id="selectOneHospitalReview">
 		<result column="rid" property="column" javaType="int"/>
 		<result column="title" property="column" javaType="String"/>
 		<result column="content" property="column" javaType="String"/>
 		<result column="rdate" property="column" javaType="java.sql.Date"/>
 		<result column="rfile" property="column" javaType="String"/>
 		<result column="readcount" property="column" javaType="String"/>
 		<result column="grade" property="column" javaType="int"/>
 		<result column="hpid" property="column" javaType="String"/>
 		<result column="muid" property="column" javaType="String"/>
 	</resultMap>
 	
 	<select id="selectOneHospitalReview" parameterType="String" resultType="review">
 		select * from review where hpid like #{hpid} order by rdate desc
 	</select>
 	
 	<select id="selectOneReviewBoard" parameterType="String" resultType="review">
 		select * from review where rid = #{rid}
 	</select>
 	
 	<select id="selectAroundReview" parameterType="String" resultType="review">
 		select * from review where rid =#{rid}
 	</select>
 	
 	<select id="reviewWrite" parameterType="Review">
 		insert into review values((select max(rid) from review)+1 , #{title} , #{content} , sysdate , #{rfile} , default , ${grade} , #{hpid} , 'say7862' ,default )
 	</select>
 	
 	<select id="ReportInsert" parameterType="Report">
 		insert into report values((select max(reportid) from report)+1 , #{rid}, #{reportreason}, sysdate, 'hong')
 	</select>
 	
  	<select id="updateReivewStatus" parameterType="int">
 		update review set status = 0 where rid = #{rid}
 	</select>
 </mapper>